* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222;
}

body {
  overscroll-behavior: none; /* empêche le rebond élastique du navigateur */
  user-select: none; /* eviet de selectionner du texte par erreur en restant appuyé */
}
